In [7]:
#loop
for i in range(-100, -10):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11

In [2]:
data = 'python'

In [3]:
data[0]

'p'

In [4]:
data[-1]

'n'

In [6]:
for x in data:
    print(x,'x')

p x
y x
t x
h x
o x
n x

In [8]:
range(10)

range(0, 10)

In [9]:
for x in range(len(data)):
    print(data[x])

p
y
t
h
o
n

In [11]:
len(data)

6

In [16]:
for x in range(len(data)):
           print(data[x])

p
y
t
h
o
n

In [18]:
for x in range(6):
           print(data[x])

p
y
t
h
o
n

In [19]:
data = 'i love data science so much'
for x in range(len(data)):
    print(data[x])

i

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [25]:
data = 'i love data science so much'
data = data.split()
for i in range(len(data)):
    print(data[i],i)

i 0
love 1
data 2
science 3
so 4
much 5

In [26]:
data[1]

'love'

In [30]:
n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total + x
    print(total,x)
print('Total',total)

2 2
5 3
9 4
64 55
124 60
201 77
301 100
Total 301

In [33]:
for i in range(10):
        print('data science',i)

data science 0
data science 1
data science 2
data science 3
data science 4
data science 5
data science 6
data science 7
data science 8
data science 9

In [34]:
for i in range(5,10): #n-1
    print('data science', i)

data science 5
data science 6
data science 7
data science 8
data science 9

In [39]:
for i in range(5,10,2): #i = i+2
    print(i)

5
7
9

In [37]:
for i in range(100,50,-10): #i = i-10
    print('data science', i)

data science 100
data science 90
data science 80
data science 70
data science 60

In [38]:
for i in range(100,0, -1): #i = i-1
    print('data science', i)

data science 100
data science 99
data science 98
data science 97
data science 96
data science 95
data science 94
data science 93
data science 92
data science 91
data science 90
data science 89
data science 88
data science 87
data science 86
data science 85
data science 84
data science 83
data science 82
data science 81
data science 80
data science 79
data science 78
data science 77
data science 76
data science 75
data science 74
data science 73
data science 72
data science 71
data science 70
data science 69
data science 68
data science 67
data science 66
data science 65
data science 64
data science 63
data science 62
data science 61
data science 60
data science 59
data science 58
data science 57
data science 56
data science 55
data science 54
data science 53
data science 52
data science 51
data science 50
data science 49
data science 48
data science 47
data science 46
data science 45
data science 44
data science 43
data science 42
data science 41
data science 40
data science 39
data science 38
data science 37
data science 36
data science 35
data science 34
data science 33
data science 32
data science 31
data science 30
data science 29
data science 28
data science 27
data science 26
data science 25
data science 24
data science 23
data science 22
data science 21
data science 20
data science 19
data science 18
data science 17
data science 16
data science 15
data science 14
data science 13
data science 12
data science 11
data science 10
data science 9
data science 8
data science 7
data science 6
data science 5
data science 4
data science 3
data science 2
data science 1

In [47]:
#assignment 2
for i in range(-100,-10, 1):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11

In [21]:
num = range (10,1000)
sum = 0
for x in num:
    for i in range(2,x):
        if x % i == 0:
            break
    else:
        sum = sum + x
        print(x)
print(sum)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
76110

In [78]:
fact = int(input('factorial of: '))
for i in range(fact-1,0,-1):
    fact *=i
print(fact)

factorial of:  3

6

In [86]:
number = 27956240710

# Convert the number to a string and reverse it using slice
reversed_number = str(number)[::-1]

print(f"Reversed number is: {reversed_number}")

Reversed number is: 01704265972

In [1]:
n = int(input("Enter the number: "))

rev_num = 0
num_digits = len(str(n))

for _ in range(num_digits):
    remainder = n % 10
    rev_num = (rev_num * 10) + remainder
    n = n // 10
    if n == 0:
        break

print("Reversed number:", rev_num)

Reversed number: 354222