In [2]:
#param & Arg
#positional_arg
def add_num(x,y):
    result = x + y
    return result
add_num(10, 30)

40

In [3]:
def add_num(x,y):
    print(x)
add_num(10, 30)

10

In [6]:
#keyword arg
def personal(job, income):
    print(job)
    print(income)
personal(job = 'data scientist', income = 200000)

data scientist
200000

In [7]:
#default arg
def personal(job, income = 10000):
    print(job)
    print(income)
personal(job = 'data scientist')

data scientist
10000

In [11]:
#variable length arg
def add_num(*x):
    print(x)
    result = sum(x)
    return result
add_num(10, 30, 10, 1000, 4000)

(10, 30, 10, 1000, 4000)

5050

In [14]:
def add_num(x, *y):
    print(x)
    print(y)
   #
add_num(10, 30, 10, 1000, 4000)

10
(30, 10, 1000, 4000)

In [15]:
def personal_data(name, **arg):
    print(name)
    print(arg)

personal_data('Al Jubair', uni = 'McMaster', city = 'Hamilton')

Al Jubair
{'uni': 'McMaster', 'city': 'Hamilton'}